<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:接口得全类名-->
<mapper namespace="dao.ProviderMapper">

    <!--  查询语句 resultType:返回的类型 -->
    <select id="selectAll" resultType="entity.Provider">
        select * from smbms_provider
    </select>

</mapper>